<template>
  <v-date-picker
    :value="fieldvalue"
    v-model="date"
    :name="name"
    :data-name="dataname"
    :step="step"
    :input-props="inputprops"
    :formatInput="true"
    :disabled-dates="{ weekdays: [] }"
    :min-date="new Date()"
    :masks="{ input: ['YYYY-MM-DD']}" />
</template>
<script>
import VCalendar from 'v-calendar';

export default {
  name: "DateComponent",
  props: ["cssclass", "name", "dataname", "step", "placeholder", "fieldvalue"],
  mounted() {
  },
  data() {
    return {
        date: new Date(this.fieldvalue),
        inputprops: {
            class: this.cssclass,
            placeholder: "Please select display date",
            readonly: true,
            name: this.name,
        }
    };
  }
};
</script>
