

<template>
  <vc-date-picker 
    :class="cssclass"
    :data-name="data-name"
    :step="step"
    :value="value" 
    :disabled-dates="{ weekdays: [] }" 
    :min-date="new Date()" 
    :masks="{ input: ['YYYY-MM-DD']}" v-model="vDate" />
</template>
<script>
import Vue from 'vue';
import VCalendar from 'v-calendar';

Vue.use(VCalendar, {
  componentPrefix: 'vc',  // Use <vc-calendar /> instead of <v-calendar />
});

export default {
  name: "DateComponent",
  props: ["cssclass", "name", "data-name", "step", "placeholder", "value"],
  mounted() {},
  data() {
    return {

    };
  }
};
</script>